

@if (!string.IsNullOrEmpty(TempData["Message"] as string))//TempData["messaeg"]?.ToString() is not null
{
    <div aria-live="polite" aria-atomic="true" class="toast-container position-fixed p-3" style="bottom: 25px; right:25px; z-index: 100;">
        <div class="toast fade show " role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                @if ((TempData["Result"] as int? ?? 0) > 0)
                {
                    <strong class="me-auto text-success">Success!!</strong>
                    <small>@TimeOnly.FromDateTime(DateTime.Now) </small>
                }
                else
                {
                    <strong class="me-auto text-danger">Failed!!</strong>
                    <small>@TimeOnly.FromDateTime(DateTime.Now) </small>
                }
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["Message"]
            </div>
        </div>
    </div>
}

